<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <div  class="container big">
            <div class="row bg-color">
                <div class="col s12 m12 l3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="/images/CeoXGIuWQAAtrZN.jpg">
                        </div>
                        <div class="card-content">
                            <img src="/images/pro_01.jpg" alt="" class="circle user_pro_p">
                            <span class="card-title activator grey-text text-darken-4">Sudeep B Makwana<i class="material-icons right">more_vert</i></span>
                            <p></p>
                            <p><a href="#">@sudeep_dk</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Sudeep B Makwana<i class="material-icons right">close</i></span>
                            <p>I strongly believe that we can change our country's fate we r the future of our country.Full stack programmer. <a href="http://sudeepdk.com ">http://sudeepdk.com</a></p>
                        </div>
                        <div class="card-action t-count">
                            <ul>
                                <li><a href="/userhome">tweet<span>27</span></a></li>
                                <li><a href="/<%= user.username%>/following">Following<span>36</span></a></li>
                                <li><a href="/<%= user.username%>/followers">Follower<span>74</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Followers you know -->
                    <div class=" s12 m12 match-list-wrap">
                        <a href="/followers_you_follow"><i class="fa fa-user" aria-hidden="true"></i>  10 Followers you know</a>
                        <ul class="match-list">
                            <li class="">
                                <img src="/images/pro_01.jpg" alt="" class="circle">
                            </li>
                            <li class="">
                                <img src="/images/pro_02.jpg" alt="" class="circle">
                            </li>
                            <li class="">
                                <img src="/images/pro_03.jpg" alt="" class="circle">
                            </li>
                            <li class="">
                                <img src="/images/pro_01.jpg" alt="" class="circle">
                            </li>
                            <li class="">
                                <img src="/images/pro_02.jpg" alt="" class="circle">
                            </li>
                            <li class="">
                                <img src="/images/pro_03.jpg" alt="" class="circle">
                            </li>
                            <li class="">
                                <img src="/images/pro_01.jpg" alt="" class="circle">
                            </li>
                            <li class="">
                                <img src="/images/pro_02.jpg" alt="" class="circle">
                            </li>
                            <li class="">
                                <img src="/images/pro_03.jpg" alt="" class="circle">
                            </li>
                            <li class="">
                                <img src="/images/pro_03.jpg" alt="" class="circle">
                            </li>
                        </ul>
                    </div>
                    <div class="s12 m12">
                        <a href="#">Who to follow</a>
                        <a href="#1" class="right">view all</a>
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <img src="/images/pro_01.jpg" alt="" class="circle">
                                <a href=""><b class="fullname">Damon Jernstad</b></a><br>
                                <small>
                                Followed by <a href="#12"><b>Leonel</b></a> and <a href="#" class=""><b>others</b></a>
                                </small>
                                <!-- <a href="../icon/user-plus"><i class="fa fa-user-plus"></i></a> -->
                                <a href="#!" class="secondary-content"><i class="fa fa-user-plus"></i></a>
                            </li>
                            <li class="collection-item avatar">
                                <img src="/images/pro_02.jpg" alt="" class="circle">
                                <a href=""><b class="fullname">Harrison Bonardi</b></a><br>
                                <small>
                                Followed by <a href="#12"><b>Aiko</b></a> and <a href="#" class=""><b>others</b></a>
                                </small>
                                <!-- <a href="../icon/user-plus"><i class="fa fa-user-plus"></i></a> -->
                                <a href="#!" class="secondary-content"><i class="fa fa-user-plus"></i></a>
                            </li>
                            <li class="collection-item avatar">
                                <img src="/images/pro_03.jpg" alt="" class="circle">
                                <a href=""><b class="fullname">Linnie Escalona</b></a><br>
                                <small>
                                Followed by <a href="#12"><b>Collette</b></a> and <a href="#" class=""><b>others</b></a>
                                </small>
                                <!-- <a href="../icon/user-plus"><i class="fa fa-user-plus"></i></a> -->
                                <a href="#!" class="secondary-content"><i class="fa fa-user-plus"></i></a>
                            </li>
                        </ul>
                        <div class="trend-wrap z-depth-1">
                            <h5>Trends</h5>
                            <ul>
                                <li><a href="#12">#india</a><span>26.7K Tweets</span></li>
                                <li><a href="#12">#india</a><span>26.7K Tweets</span></li>
                                <li><a href="#12">#india</a><span>26.7K Tweets</span></li>
                                <li><a href="#12">#india</a><span>26.7K Tweets</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END left div -->
                <div class="col s12 m12 l9">
                    <div class="row">
                        
                        <!-- <a href="/logout" class="btn btn-default btn-sm">Logout</a> -->
                        <form class="col s12">
                            <div class="row">
                                <% include ../partials/tweet_type_tab.ejs %>
                                
                                <div id="test1" class="col s12">
                                    
                                </div>
                                <div id="test2" class="col s12">
                                    <!-- following tabs -->
                                    <div class="row">
                                        <% Followers_List.forEach(function(Followers_List, i){ %>
                                        <div class="col s12 m4">
                                            <div class="card small">
                                                <div class="card-image">
                                                    <img src="/images/CeoXGIuWQAAtrZN.jpg">
                                                    <span class="card-title"><%= Followers_List.user_id.first_name %><%= Followers_List.user_id.last_name %></span>
                                                    <span class="card-title handle"><%= Followers_List.user_id.username %></span>
                                                    <span class="right card-title f-status">
                                                        <% if (Followers_List.follow_back == true) { %>
                                                        <!-- you are following -->
                                                        <% } else { %>
                                                        
                                                        <% } %>
                                                    </span>
                                                </div>
                                                <div class="card-content">
                                                    <p>apheretic Rutha Padiong apheretic Rutha Padiongapheretic Rutha Padiongapheretic Rutha Padiongapheretic Rutha Padiongapheretic Rutha Padiong</p><br>
                                                </div>
                                                <div class="card-action">
                                                    <% if (Followers_List.follow_back == true) { %>
                                                    <button class="btn waves-effect waves-light blue light-blue lighten-1 " type="submit" name="action">following
                                                    </button>
                                                    <% } else { %>
                                                    <button class="btn waves-effect waves-light blue light-blue lighten-1 " type="submit" name="action">follow
                                                    </button>
                                                    
                                                    <% } %>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <% }) %>
                                    </div>
                                    <!-- end following tab -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- center div post  -->
                
                <!-- right div suggesion , footer -->
            </div>
        </div>
        <!-- Modal Trigger -->
        <a href="#modal1" class=" modal-trigger btn-floating btn-large waves-effect waves-light red btn-tw-st"><i class="material-icons">add</i></a>
        <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <div class="row">
                    <form method="post" action="/secure/setnewpost" name="compose_post">
                        <input type="hidden" name="username" value="">
                        <h5 class="center-align">Compose a new Post</h5>
                        <div class="input-field col s12 mb-10">
                            <!-- <input type="text" name="post_title" value=""> -->
                            <textarea id="textarea1" name="post_description" placeholder="what's happening?" class="materialize-textarea" length="350"></textarea>
                            <label for="textarea1"></label>
                        </div>
                        <div class="fixed-action-btn horizontal click-to-toggle">
                            <a class="btn-floating btn-large red">
                                <i class="large mdi-navigation-menu"></i>
                            </a>
                            <ul>
                                <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                                <!-- <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li> -->
                                <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                                <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                                <li><button class="btn-floating yellow"><i class="material-icons">library_add</i>
                                </button></li>
                                <!--   <li><a ><i class="material-icons btn-ico">library_add
                                </i> <input class="btn-floating yellow darken-1"  type="submit" value=''></a>
                            </li> -->
                        </ul>
                    </div>
                    
                </form>
            </div>
        </div>
        <!--                                     <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    -->                                </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>