<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<main>
		<div class="jumbotron">
			<p><%= tagline %></p>
			<ul>
				<% drinks.forEach(function(drink) { %>
				<li><%= drink.name %> - <%= drink.drunkness %></li>
				<% }); %>
			</ul>
			  <a class="waves-effect waves-light btn-large" href="#">Wave</a>

			  <h5>logged in user details</h5>
			  <p> First name :<%= user.first_name %></p>
			  <p> last name :<%= user.last_name %></p>
			  <p> Username :<%= user.username %></p>
			  <p> email :<%= user.email %></p>
			  <p> Password :<%= user.password %></p>
		</div>
		</main>
		<footer>
			<% include ../partials/footer %>
		</footer>
		
	</body>
</html>